.main-contents
  .main-contents__left
    .main-contents__left__text-box
      .main-contents__left__text-box__btn
        .main-contents__left__text-box__btn__text
          save
  .main-contents__right
    .main-contents__right__top
      .main-contents__right__top__grid 
    .main-contents__right__bottom
      .main-contents__right__bottom__box
        %p 明朝体
      .main-contents__right__bottom__box
        %p ゴシック体